#productos{
	font-size: 10px;
}
#resultado{
	font-size: 10px;
}
#resultado2{
	font-size: 10px;
}
#resultado3{
	font-size: 10px;
}
#resultado4{
	font-size: 10px;
}
#resultado5{
	font-size: 10px;
}
#resultado6{
	font-size: 10px;
}
#resultado7{
	font-size: 10px;
}
#resultado8{
	font-size: 10px;
}
#resultado9{
	font-size: 10px;
}
#resultado10{
	font-size: 10px;
}
#resultado11{
	font-size: 10px;
}
#resultado12{
	font-size: 10px;
}
.bn6 {
	 background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  width: 130px;
  opacity: 1;
  color: white;
}
.logo {
	margin: 0px;
}
.texto {
	text-align: center;
}
.plu {
	font-size: 10px;
}